Flask==2.0.1
Werkzeug==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
itsdangerous==2.0.1
click==8.0.1
requests==2.31.0
python-dateutil==2.8.2
urllib3==2.0.7
certifi==2023.7.22
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.53
user-agents==2.2.0 